{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>Detail - Sunflowey</title>
</head>

<body>
	<img src="{% static "./sunflowey.png" %}" style="width: 10vw;" />
	<h1>Detail - Sunflowey</h1>
	<dl>
		<dt>Health Points</dt>
		<dd>650</dd>
		<dt>Base Attack Damage</dt>
		<dd>43</dd>
		<dt>Skills</dt>
		<dd>Power Pellet, Sunshine, Pollen Punch</dd>
		<dt>Lore</dt>
		<dd>I am Sunflowey. Sometimes a sun, sometimes a flower.</dd>
		<form action="{% url 'heroes' %}">
			<input type="submit" value="Back to Heroes List" />
		</form>
	</dl>
</body>

</html>