{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>Detail - Jester</title>
</head>

<body>
	<img src="{% static "./jester.png" %}" style="width: 10vw;" />
	<h1>Detail - Jester</h1>
	<dl>
		<dt>Health Points</dt>
		<dd>660</dd>
		<dt>Base Attack Damage</dt>
		<dd>64</dd>
		<dt>Skills</dt>
		<dd>Laugh, Dance, Smile</dd>
		<dt>Lore</dt>
		<dd>I do it for the LOLs.</dd>
		<form action="{% url 'heroes' %}">
			<input type="submit" value="Back to Heroes List" />
		</form>
	</dl>
</body>

</html>