{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>Detail - Cloud</title>
</head>

<body>
	<img src="{% static "./cloud.png" %}" style=" width: 10vw;" />
	<h1>Detail - Cloud</h1>
	<dl>
		<dt>Health Points</dt>
		<dd>600</dd>
		<dt>Base Attack Damage</dt>
		<dd>57</dd>
		<dt>Skills</dt>
		<dd>Nimbus, Rain Cloud, Thunderbolt</dd>
		<dt>Lore</dt>
		<dd>I am a cloud. When I pee you call it 'rain'.</dd>
		<form action="{% url 'heroes' %}">
			<input type="submit" value="Back to Heroes List" />
		</form>
	</dl>
</body>

</html>