<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Will of the Wisps Wiki</title>
</head>

<body>
    <li><a href="{% url 'hero_cloud' %}">Cloud(HP:600,Damage:57)</a>
        <a href="{% url 'hero_sunflowey' %}">Sunflowey(HP:650,Damage:43)</a>
        <a href="{% url 'hero_jester' %}">Jester(HP:660,Damage:64)</a></li>
</body>

</html>